name: Build functions, publish to DockerHub
on: [push, pull_request]
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          args: --timeout 2m0s
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: Run tests
        run: make test
  build:
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: ${{ success() && (github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')) }}
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.16'
    - name: Log into registry
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin <<< "${{ secrets.DOCKER_API_KEY }}"
    - name: Push image
      run: |
        if [[ "${{ github.ref }}" =~ ^refs/tags/v/(.*) ]] ; then
          VERSION="${BASH_REMATCH[1]}"
        elif [[ "${{ github.ref }}" =~ ^refs/heads/master ]] ; then
          VERSION="latest"
        else
          VERSION="unknown"
        fi

        make publish-all VERSION=${VERSION}
